@media only screen and (max-width: 800px) {
    .cardsContainer{
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }
}

.cardsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px;
    row-gap: 3em;
    column-gap: 2em;
}
.alert {
    color: azure;
    margin-top: 3em;
}