.container{
  margin-top: 10px;
  height: fit-content;
  padding: 50px;
  background-color: black;
  color: aliceblue;
  width: 50%;
  font-size: larger;
  border-radius: 20px;
  word-wrap: normal;
}

.info{
  text-align: justify;
}

@media only screen and (max-width: 800px) {
  .container{
    width: 100vw;
    margin: 0;
    padding: 30px;
    border-radius: 0;
  }
}