.tabSelected{
 color: azure;
 padding: 10px;
 padding-bottom: 2px;
 border-bottom: 2px solid azure;
}

.tab{
 color: azure;
 padding: 5px;
 flex-shrink: -1;
 background-color: black;
}

.tabSelected:hover{
  color: azure;
  text-decoration: none;
}

.tab:hover{
  color: azure;
  text-decoration: underline;
}

.about{
  font-size: xx-large;
}

  @media only screen and (max-width: 800px) {
    .tabSelected, .tab{
      display: none;
    }
  }
