
.navMenu{
  display: flex;
  flex-direction: row;
}

.nav{
  display: flex;
  background-color: #141c25;
  justify-content: space-between;
}

.title{
  font-size: larger;
}
.menuTab, .menuTab:hover{
  color: azure;
  padding: 10px;
  text-decoration: none;
}

.logo{
  width: 40px;
  height: 40px;
  margin-right: 2rem;
  align-self: center;
}

.about{
  display: none;
}
@media only screen and (max-width: 800px) {
.title{
  display: none;
}
.logo{
  margin: 0 auto;
}
.nav{
  justify-content: space-between;
}
.navMenu{
  flex-direction: column;
  row-gap: .1rem;
  align-items: center;
  padding: 8px;
}
.about, .about:hover{
  display: inline;
  font-size: 24px;
  text-decoration: none;
  color: azure;
}

.aboutSelected{
  display: none;
}
}
